# **Python Variables**

In [15]:
print('AI10L')

AI10L

(2+3j)

In [1]:
num,num1,num2=1,5,"3"
print(num)
print(num1)
print(num2)

1
5
3

## print("Hello World")

In [2]:
print(3,3.5,'AI')

3 3.5 AI

In [18]:
# Initialize a variable
x = 2
print("x =", x)

x = 2

In [21]:
print("Hello", end='') #\n  \t
print("world")

Helloworld

In [22]:
x = 2
a = 8
print("x =", x)
print("a =", a,end='\n\n')
print("a =", 8, end = 'j')

x = 2
a = 8

a = 8j

In [9]:
print("India","Pakistan","Nepal","Srilanka",sep='/')

India/Pakistan/Nepal/Srilanka

In [19]:
print("India","Pakistan","Nepal","Srilanka",sep='-')

India-Pakistan-Nepal-Srilanka

In [20]:
x = 2
a = 8
print("x =", x, sep='$$')
print("a =", 8, sep = 'j')

x =$$2
a =j8

### **Multiple assignments**
Python allows you to assign a single value to several variables simultaneously. For example âˆ’

In [42]:
# special syntax
a = 5;b=6;c=7
print(a)
print(b)
print(c)

5
6
7

In [43]:
a,b,c = 4,5,6
print(a)
print(b)
print(c)

4
5
6

In [13]:
# Here, an integer object is created with the value 5, and all three variables are assigned to the same memory location
x = y = z = 5
a = b = 10
print(x)
print(y)
print(z)

print(a)
print(b)

5
5
5
10
10

In [14]:
a,b,c = 5,10.1,"Great Lakes"
print(a)
print(b)
print(c)
print("\n.......\n")
x,y,z=10,3+4j," Peshawar"
print(x,y,z)
print("\n.......\n")
print(x)
print(y)
print(z)
print("\n.......\n")
a,b,c = "street20",15,"Cricket"
print(a,b,c)
print(a)
print(b)
print(c)

5
10.1
Great Lakes

.......

10 (3+4j)  Peshawar

.......

10
(3+4j)
 Peshawar

.......

street20 15 Cricket
street20
15
Cricket

 **Re-assigning a variable**

In [16]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

var1=var2 #show same var2 result because var1 already assign to var 2
var1

25

## **Data Types**

A data type is an attribute of data that tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:
                        1. Numbers
                        2. Strings
                        3. Boolean
                        4. Lists
                        5. Tuples
                        6. Dictionaries 
                        7. Sets

### **Python Numbers**
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [25]:
a = -5
type(a)
b=2
type(b)
c=3.4
type(c)

float

In [26]:
x = "gsahskja"
type(x)

str

#### float

In [27]:
a = 1.1
type(a)

float

In [28]:
x = -3.14
type(x)

float

In [29]:
y = 1.626e16
type(y)

float

#### long

In [31]:
x =999999999999999999999999999999999999999999999
type(x)

int

This construct does not exist in Python 3.

#### complex

In [32]:
x = 3+4j
type(x)

complex

In [37]:
y = 3e+4j
type(y)

complex

In [39]:
y = 3e-4j
type(y)

complex

In [42]:
a=1j
type(a)

complex

In [3]:
a=22+3j
print(a, "is complex number?", isinstance(1+2j,complex))

(22+3j) is complex number? True

### **Python Strings**

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double quotes("string").

In [54]:
c = 'hello'

In [55]:
type(c)

str

In [45]:
string = "Introduction to Python"
string

'Introduction to Python'

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [46]:
str1 = "Great"
str2 = "Learning"
str3 = str1+str2
str3                      # Prints concatenated string

'GreatLearning'

In [47]:
str3*3                    # Prints string three times

'GreatLearningGreatLearningGreatLearning'

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [60]:
# Types of Indexing
# Postive Indexing
# Negative Indexing

In [61]:
string[5]                 # Prints sixth character of the string

'd'

In [62]:
print(str3[-6])

a

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 at the beginning of the string and working their way from -1 at the end.

In [56]:
string[13:22]             # Prints characters starting from 14th to 21st character

'to Python'

In [64]:
print(string[0:5])

Intro

In [65]:
print(string[0:8:3])

Iru

Strings are <em>immutable</em>. The following line of code will generate an error.

In [50]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

In [52]:
string = "Introduction to Python"
print(string[0] == 'i')
print(string[0] == 'I')
print(string[5:12] == 'duction')

False
True
True

#### **String Methods**

In [68]:
# 1 len methods
st = 'String ye'
len(st)

9

In [71]:
# 2 lower(), capitalize() and upper() 
string = "Hello, World!"
lower_case = string.lower()
upper_case = string.upper()
capitalized = string.capitalize()
print(lower_case) 
print(upper_case)  
print(capitalized)

hello, world!
HELLO, WORLD!
Hello, world!

In [75]:
# 3
alpha_check = "Hello".isalpha()
digit_check = "123".isdigit()
alnum_check = "Hello123".isalnum()
space_check = "   ".isspace()
print(alpha_check)  
print(digit_check)  
print(alnum_check)  
print(space_check)

True
True
True
True

In [77]:
# 4 f string or format()
name = "Alice"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name, age)
# or using f-strings (Python 3.6+)
f_string = f"My name is {name} and I am {age} years old."
print(formatted_string)
print(f_string)

My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

In [84]:
# .join()
words = "Hello", "World", "!"
joined_string = " ".join(words)
print(joined_string)

Hello World !

In [93]:
# count()
string = "Hello, Hello,Hello World!"
count = string.count("Hello")
print(count)

3

In [103]:
string = "Hello, Hello,Hello World!"
count = string.count("o")
print(count)

4

In [106]:
# split()
fruit = "berry, banana, kiala"
words = fruit.split(", ")
print(words)

['berry', 'banana', 'kiala']

In [107]:
#strip()
stri = "   OYE, Word   "
stripped = stri.strip()
print(stripped)  # Output: Hello, World!

OYE, Word

In [95]:
# find()
st = "how are you"
index = st.find("are")
print(index)  # Output: return index of first occurence

4

In [97]:
st = "how are you"
index = st.find("me")
print(index) #not found

-1

In [99]:
# replace()
string = "universe, unicorn, baag"
new_string = string.replace("universe", "galaxy")
print(new_string)

galaxy, unicorn, baag

In [102]:
string = "universe, unicorn, baag"
new_string = string.replace("world", "universe ")
print(new_string)  
# does nothing

universe, unicorn, baag

### **Python Boolean**
In Python programming language, the boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions.

In [64]:
var = True
type(var)

bool

In [65]:
print(10 > 9)

True

In [66]:
print(10 == 9)

False

In [67]:
print(10==10)

True

In [68]:
print(10 < 9)

False

## **Type Conversion**
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [27]:
int(11.7)

11

You can turn a boolean into an float.

In [70]:
float (True)

1.0

In [71]:
float(False)

0.0

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [30]:
aaa=float("24.9")
print(type(aaa))
print(aaa)

<class 'float'>
24.9

In [73]:
float("11")

11.0

In [74]:
# You can also use â€˜eâ€™ to denote an exponential number

float("2.24e-2")           # This number works even without the float() function

0.0224

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [75]:
int(11.7)

11

In [76]:
int(-11.7)

-11

 You can also turn a boolean into an int.

In [77]:
int(True)

1

In [78]:
int(False)

0

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [79]:
int("GL")

ValueError: invalid literal for int() with base 10: 'GL'

In [108]:
int("11")

11

In [111]:
a="10"
b="5"
c = a+b
print(int(c))

105

#### str()
<em>str()</em> converts the value into a string.

In [81]:
str(2.24)

'2.24'

In [82]:
str(True)

'True'

In [83]:
str(False)

'False'

In [84]:
str(10)

'10'

## **User Input**

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data as a string. When we enter a digit value, input() in python 3 stores it as a string value. So to convert string value to integer value, we will use the int() function just as shown below.

In [34]:
int(input("ENTER NUM"))

ENTER NUM 4

4

In [39]:
a=10
b=10
a is not b

False

In [23]:
age = int(input("Please enter your age: "))
print(age)
type(age)

Please enter your age: 2
2

int

In [25]:
name = input("Please enter your name: ")
print(name)
type(name)

Please enter your name: asim
asim

str

In [26]:
#num = 30 
#single line comment
"""
print(num) # multiple fuunction called dilimeter
30 
"""
num1=int(input("enter a number 1 "))
num2=int(input("enter a number 2 "))
print("sum = ",num1+num2)

enter a number 1 20
enter a number 2 30
sum =  50

When the <em>input()</em> function executes program flow will be stopped until the user has given input. The message displayed on the output screen to ask a user to enter an input value is optional i.e. the prompt, which will be printed on the screen is optional.
Whatever you enter as input, the input function converts it into a string. if you enter an integer value still input() function converts it into a string. You need to explicitly convert it into an integer in your code using typecasting.

## **Python Operators**

### **Arithmetic Operator**
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [27]:
a = 16
b = 2
# '+' operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b 

# '**' operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 18
a - b = 14
a * b = 32
a % b = 0
a / b = 8.0
a // b = 8
a ** b = 256

### **Comparison Operator**
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [28]:
a = 10
b = 20

# '>' operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' operator
print('a == b  is',a==b)               # Prints False since a and b are not equal

# '!=' operator
print('a != b  is',a!=b)               # Prints True since a is not equal to b

# '>=' operator
print('a >= b  is',a>=b)               # Prints False since a is not smaller nor equal to b

# '<= y' operator
print('a <= b  is',a<=b)               # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

### **Assignment Operator**
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [29]:
# '=' operator
x = 5                                               # Assigns the value to the variable on the left
print("x = ", x)

# '+=' operator                 
x += 5 
print("Updated value of x after (x += 5) is", x)    # Adds the values on either side and assigns them to the expression on the left. x+=5 is the same as x=x+5

# '-=' operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10)

# '*=' operator
x *= 2
print("Updated value of x after (x *= 2) is", x)    # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' operator
x /= 4 
print('Updated value of x after (x /= 4) is', x)    # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
Updated value of x after (x += 5) is 10
Updated value of x after (x -=2) is 8
Updated value of x after (x *= 2) is 16
Updated value of x after (x /= 4) is 4.0

In [114]:
x=20
x += 2
print(x)#x==12

x -= 2
print(x) #10

x *= 2
print(x) #20

x /= 2
print(x) #10.0

x %= 2
print(x)

22
20
40
20.0
0.0

In [116]:
z1 = 10
z1 /= 2
print(z1)

5.0

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

### **Logical Operators**
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator â€“ **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [117]:
x = 11
a = x>10 and x<20
print(a)

True

Here both the conditions are satisfied. Therefore we have True as the output.

In [118]:
x = 11
a = x>10 and x==12
print(a)

False

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [119]:
x = 11
a = x>10 or x==20
print(a)

True

Here one of the condition is satisfied. Therefore we have True as the output.

In [120]:
x = 11
a = x>12 or x==20
print(a)

False

None of the above condition is True. Therefore we have False as the output

#### 'not' Operator

In [122]:
number = 42

# Using not to check if the number is not equal to 0
if not number == 0:
    print("The number is not zero.")
else:
    print("The number is zero.")

The number is not zero.

# Special Operators
   They are of two types
   1)Identity Operators:contain is and is not
   2)membership ooperators :in and in not

In [128]:
a = [1, 2, 3]
b = a
print(a is b)

True

In [129]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is not b)

True

In [35]:
#special operators
a="python programming"
b="python programming"
c="programming in simple way"
print(a is not b)
print(a is b)
print(a is not c)

True
False
True

In [36]:
#membership operator
c="python programming in simple way"
print("in" in c)

True

In [37]:
print("are" in c)

False

In [38]:
print("are" not in c)

True

In [39]:
print("programming" not in c)

False

In [41]:
paragraph = "This planet has - or rather had - a problem, which was \
this: most of the people living on it were unhappy for pretty much \
of the time. Many solutions were suggested for this problem, but \
most of these were largely concerned with the movements of small \
green pieces of paper, which is odd because on the whole it wasn't \
the small green pieces of paper that were unhappy."

In [43]:
print("unhappy" not in paragraph)

False

In [124]:
print("pakistan" in paragraph)

False