# **Data Types in Python**

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

Data belongs to different categories. It can be numeric, text, true/false, complex numbers, date, time etc. Data should be stored correctly for us to be able to do the desired operations on the data. If the data is stored incorrectly, for example numerical data is stored as text data, we can not do numerical or arithmetic operations on the data because the methods and the operations for a data depend largely on the type of data (object) being referred to.

There are various data types in Python. Listed below are the most prominently used ones:
1. Numeric - This is further divided into 
    (a.) Integer
    (b.) Float
    (c.) Complex
    
2. String

3. Boolean

## **Numeric Data Type**

As the name suggests, Numeric data type consists of numbers. These numbers can be whole numbers, decimal numbers or complex numbers.

Whole numbers are stored in Integer (Int) type.

Decimal numbers are stored in Float (Float64) type.

Complex numbers are stored in Complex type.

You will find Integer and Float type being used most of the times.

You can check the data type of an object using the type() command.

In [1]:
# Let's look at some examples.

Integer = 7
type(Integer)

int

In [2]:
Float = 2.356
type(Float)

float

In [3]:
Complex = 3.908J
type(Complex)

complex

In [5]:
# Your turn now. 
# Store 2, 1086M, 3.14567 into three different objects and check their data types.
a = 2
b = "1086M"
c =3.14567

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

## **String Data Type**

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [6]:
# Printing your name
My_Name = "My name is Jupyter!"
My_Name

'My name is Jupyter!'

In [9]:
print(type(My_Name))

<class 'str'>

In [12]:
# Your turn to play around now.
# Save your name to an object and check its data type.
a = "asim"
print(type(a))

<class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [13]:
# Let's check how many characters does your name contain.
len(My_Name)

19

In [14]:
# Let's see if My_Name is all caps or not. 
# isupper() returns True if all the letters are capitals, False if atleast one letter in in lower case.

My_Name.isupper()

False

In [15]:
# Let's convert My_Name to all caps.

My_Name = My_Name.upper()
My_Name

'MY NAME IS JUPYTER!'

In [16]:
# Now the output of isupper() changes to True.
My_Name.isupper()

True

In [18]:
# Your turn to try it now. 
# Write a sentence and store it into an object.
sentence = "anaconda and python are in jungle"

In [19]:
# Check the data type of the object you just created.

type(sentence)

str

In [20]:
# Check if it is all caps or not.

sentence.isupper()

False

In [21]:
# Challenge - Check if it is all lower case or not.
sentence.islower()

True

In [22]:
# Convert your object into all caps.

sentence.upper()

'ANACONDA AND PYTHON ARE IN JUNGLE'

In [23]:
# Challenge - Convert your object into all lower case.
sentence.lower()

'anaconda and python are in jungle'

## **Boolean Data Type**

The boolean data type has just two values, i.e., True or False.

In [24]:
# Let's look at examples.

x = True
y = False

In [25]:
type(x)

bool

In [26]:
type(y)

bool

In [28]:
# Your turn!
a = True
type(a)

bool

In [30]:
b = False 
type(b)

bool

## **Data Type Conversions**


As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [31]:
# Consider an object containing an integer.
string1 = 1

In [32]:
type(string1)

int

In [33]:
# I want to use the value 1 as a text value. So let's convert it.
string1 = str(string1)

In [34]:
type(string1)

str

In [43]:
# Exercise for you. Store the number 123456 as string.
a = 123456
c=str(a)
type(c)
print(c)
type(c)

123456

str

In [47]:
# Let's do the opposite now. Let's learn to convert string to float now.

In [44]:
int1 = "500"
type(int1)

str

In [45]:
int1 = int(int1)
type(int1)

int

In [49]:
# Your turn now.
str2 = "333"
type(str2)

flt =float(str2)
type(flt)

float

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats. 
But very often we come across data being stored incorrectly especially while importing.