# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10
b = 5.1
add = a+b
type(add)

float

### 2. Is 5 == (3+2)?

In [2]:
5==(3+2)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [3]:
a = 3
a+=33

In [4]:
print(a)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [5]:
a=float(3)
type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [6]:
a**5

243.0

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [7]:
base = 10
height = 5
area_of_triangle = (base*height)/2
print(area_of_triangle)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [8]:
v = 10

w = 25

x = 70

y = 2

z = (v + w) * (x / y)
print(z)

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [9]:
a = 10 
b = 5
a , b = b , a 
print(a,b)

5 10

In [10]:
a = 10 
b = 5
print("before swap\n","a = ",a,"b = ",b)

c = a
a = b
b = c
print("after swap\n","a = ",a,"b = ",b)

before swap
 a =  10 b =  5
after swap
 a =  5 b =  10

### 9. Convert 35 degree Celsius temperature to Fahrenheit
F = c * 9/5 +32

In [16]:
c = int(input("enter celcius"))
f = c * (9/5) + 32
print("fahrenheit = ",f)

enter celcius37
fahrenheit =  98.60000000000001