<h2><centre>AI 102-L Lab 03 Tasks</centre></h2>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated and  space-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```
```bash
black green red white yellow
```

In [ ]:
# Write code here

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'Coursera task is For EnginEering studentS.'
Expected Output :
No. of Upper case characters :  
No. of Lower case Characters :  
```

In [ ]:
# Write code here

### **`Problem 4:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here

### **`Problem-5:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here

In [ ]:
# Write code here

### **`Problem 6:`** Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here

### **`Problem-7:`** Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here

### **`Problem-8`** Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here

### **`Problem-9`:** Use reduce to convert a 2D list to 1D

sample 2D list

two_d_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

In [ ]:
# Write code here

### **`Problem 10`** A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [1]:
# Write code here
employees = [
    {
        'fname':'Ali',
        'lname':'Khan',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Raja',
        'lname':'Atif',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'John',
        'lname':'Carter',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Yoyo',
        'lname':'Meo',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Ayesha',
        'lname':'Khan',
        'age' : 37,
        'grade':'highly-skilled'
    }

]