### **Python Strings**

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double quotes("string").

In [10]:
c = 'hello'

In [13]:
print(type(c))

<class 'str'>

In [14]:
string = "Introduction to Python"
string

'Introduction to Python'

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [15]:
str1 = "Great"
str2 = "Learning"
str3 = str1+str2
str3                      # Prints concatenated string

'GreatLearning'

In [16]:
str3*3                    # Prints string three times

'GreatLearningGreatLearningGreatLearning'

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [17]:
# Types of Indexing
# Postive Indexing
# Negative Indexing

In [18]:
string[5]                 # Prints sixth character of the string

'd'

In [19]:
print(str3[-6])

a

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 at the beginning of the string and working their way from -1 at the end.

In [20]:
string[13:22]             # Prints characters starting from 14th to 21st character

'to Python'

In [21]:
print(string[0:5])

Intro

In [22]:
print(string[0:8:3])

Iru

Strings are <em>immutable</em>. The following line of code will generate an error.

In [23]:
stri = 'Pakistan'
stri[0] = 'P'

TypeError: 'str' object does not support item assignment

In [ ]:
string = "Introduction to Python"
print(string[0] == 'i')
print(string[0] == 'I')
print(string[5:12] == 'duction')

#### **String Methods**

In [24]:
# 1 len methods
st = 'String ye'
len(st)

9

In [25]:
# 2 lower(), capitalize() and upper() 
string = "Hello, World!"
lower_case = string.lower()
upper_case = string.upper()
capitalized = string.capitalize()
print(lower_case) 
print(upper_case)  
print(capitalized)

hello, world!
HELLO, WORLD!
Hello, world!

In [27]:
# 3
alpha_check = "  5".isalpha()
digit_check = "123".isdigit()
alnum_check = "Hello123".isalnum()
space_check = "   ".isspace()
print(alpha_check)  
print(digit_check)  
print(alnum_check)  
print(space_check)

False
True
True
True

In [28]:
# 4 f string or format()
name = "Alice"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name, age)
# or using f-strings (Python 3.6+)
f_string = f"My name is {name} and I am {age} years old."
print(formatted_string)
print(f_string)

My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

In [31]:
# .join()
words = "Hello", "World", "!"
joined_string = "---".join(words)
print(joined_string)

Hello---World---!

In [33]:
# count()
string = "Hello are Hello"
count = string.count("Hello")
print(count)

2

In [34]:
string = "Hello, Hello,Hello World!"
count = string.count("o")
print(count)

4

In [35]:
# split()
fruit = "berry, banana, kiala"
words = fruit.split(" ")
print(words)

['berry,', 'banana,', 'kiala']

In [36]:
#strip()
stri = "   OYE, Word   "
stripped = stri.strip()
print(stripped)  # Output: Hello, World!

OYE, Word

In [37]:
# find()
st = "how are you"
index = st.find("are")
print(index)  # Output: return index of first occurence

4

In [38]:
st = "how are you"
index = st.find("o")
print(index) #not found

1

In [39]:
# replace()
string = "universe, unicorn, baag"
new_string = string.replace("universe", "galaxy")
print(new_string)

galaxy, unicorn, baag

In [40]:
string = "universe, unicorn, baag"
new_string = string.replace("world", "universe ")
print(new_string)  
# does nothing

universe, unicorn, baag